In [ ]:
import pandas as pd
import numpy as np

In [ ]:
afford = pd.read_csv("/content/Affordability Gap Data AY2022-23 2.17.25.xlsx - Affordability_latest_02-17-25 1.csv")

In [ ]:
results = pd.read_csv("/content/College Results View 2021 Data Dump for Export.xlsx - College Results View 2021 Data .csv")

In [ ]:
afford.head()

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,...,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
0,371928,Modern Technology School,Fountain Valley,CA,"Private for-profit, 2-year",6,1.0,NaN,0.0,0.0,...,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,6059,3
1,369668,Central Pennsylvania Institute of Science and ...,Pleasant Gap,PA,"Public, 2-year",4,1.0,NaN,0.0,0.0,...,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,Special Focus Two-Year: Technical Professions,11,42027,1
2,369516,Bryan University,Springfield,MO,"Private for-profit, 4-year or above",3,1.0,NaN,0.0,0.0,...,"Not applicable, not in Carnegie universe (not ...",-2,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,29077,3
3,164492,Anna Maria College,Paxton,MA,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Masters Colleges and Universities I,21,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,25027,2
4,164465,Amherst College,Amherst,MA,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Baccalaureate Colleges--Liberal Arts,31,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,25015,2

In [ ]:
afford.isna().sum().sort_values(ascending = False).head(50)

MSI Type                                                                        17442
Cost of Attendance: Out of State                                                 6749
Cost of Attendance: In State, On Campus                                          6749
Cost of Attendance: In State                                                     6749
Cost of Attendance: In District                                                  6749
Student Parent Affordability Gap: Center-Based Care                              1571
150% TTD Student Parent Affordability Gap: Home-Based Care                       1571
Student Parent Affordability Gap: Home-Based Care                                1571
Weekly Hours to Close Gap: Center-Based Care                                     1571
100% TTD Student Parent Affordability Gap: Center-Based Care                     1571
Weekly Hours to Close Gap: Home-Based Care                                       1571
150% TTD Student Parent Affordability Gap: Center-Based Care                     1571
100% TTD Student Parent Affordability Gap: Home-Based Care                       1571
150% TTD Affordability Gap                                                       1196
100% TTD Affordability Gap                                                       1196
Affordability Gap (net price minus income earned working 10 hrs at min wage)     1196
Weekly Hours to Close Gap                                                        1196
Student Family Earnings Ceiling                                                  1187
Net Price                                                                        1187
Annual Center-Based Child Care Cost                                               405
Monthly Center-Based Child Care Cost                                              405
Annual Home-Based Child Care Cost                                                 405
Adjusted Monthly Center-Based Child Care Cost                                     405
Adjusted Annual Center-Based Child Care Cost                                      405
Adjusted Annual Home-Based Child Care Cost                                        405
Sub Region                                                                        405
Sub Region #                                                                      405
Region                                                                            405
Region #                                                                          405
Monthly Home-Based Child Care Cost                                                405
Adjusted Monthly Home-Based Child Care Cost                                       405
State                                                                             405
HBCU                                                                              267
TRIBAL                                                                            267
ANNHI                                                                             267
MSI Status                                                                        267
AANAPII                                                                           267
PBI                                                                               267
HSI                                                                               267
NANTI                                                                             267
State Minimum Wage                                                                  9
Income Earned from Working 10 Hours a Week at State's Minimum Wage                  9
Annual Income Estimate                                                              9
Average Work Study Award                                                            5
Sector                                                                              0
Sector Name                                                                         0
Unit ID                                                                             0
City                                                                                0
State Abbreviation                                                                  0
Institution Name                                                                    0
dtype: int64

In [ ]:
len(afford)

21299

In [ ]:
len(afford["Institution Name"].unique())

6143

In [ ]:
afford["Institution Name"].value_counts()

Institution Name
Columbia College                                                  17
Cortiva Institute                                                 16
Westminster College                                               15
Bethel University                                                 15
Union College                                                     14
                                                                  ..
Pontifex University                                                1
Ivy Tech Community College of Indiana - Region 8 - Noblesville     1
Ivy Tech Community College of Indiana - Anderson                   1
Phipps Academy of Barbering - Bradley                              1
South College - Indianapolis                                       1
Name: count, Length: 6143, dtype: int64

In [ ]:
afford[afford["Institution Name"] == "Columbia College"]

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,...,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
1878,217934,Columbia College,Columbia,SC,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Baccalaureate Colleges--General,32,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Small Programs,20,Master's Colleges & Universities: Small Programs,20,45079,2
2722,177065,Columbia College,Columbia,MO,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Baccalaureate Colleges--General,32,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,29019,2
4150,112561,Columbia College,Sonora,CA,"Public, 2-year",4,1.0,NaN,0.0,0.0,...,Associates Colleges,40,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,6109,1
4732,455983,Columbia College,Vienna,VA,"Private for-profit, 2-year",6,1.0,NaN,0.0,0.0,...,"Not applicable, not in Carnegie universe (not ...",-2,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-Mixed Trad...,2,51059,3
5093,112561,Columbia College,Sonora,CA,"Public, 2-year",4,1.0,NaN,0.0,0.0,...,Associates Colleges,40,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,6109,1
6755,217934,Columbia College,Columbia,SC,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Baccalaureate Colleges--General,32,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Small Programs,20,Master's Colleges & Universities: Small Programs,20,45079,2
7944,455983,Columbia College,Vienna,VA,"Private for-profit, 2-year",6,1.0,NaN,0.0,0.0,...,"Not applicable, not in Carnegie universe (not ...",-2,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-Mixed Trad...,2,51059,3
8685,177065,Columbia College,Columbia,MO,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Baccalaureate Colleges--General,32,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,29019,2
9985,112561,Columbia College,Sonora,CA,"Public, 2-year",4,1.0,NaN,0.0,0.0,...,Associates Colleges,40,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,6109,1
11137,455983,Columbia College,Vienna,VA,"Private for-profit, 2-year",6,1.0,NaN,0.0,0.0,...,"Not applicable, not in Carnegie universe (not ...",-2,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-Mixed Trad...,2,51059,3
11428,217934,Columbia College,Columbia,SC,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Baccalaureate Colleges--General,32,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Small Programs,20,Master's Colleges & Universities: Small Programs,20,45079,2
13016,177065,Columbia College,Columbia,MO,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Baccalaureate Colleges--General,32,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,29019,2
14412,177065,Columbia College,Columbia,MO,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Baccalaureate Colleges--General,32,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,29019,2
14500,112561,Columbia College,Sonora,CA,"Public, 2-year",4,1.0,NaN,0.0,0.0,...,Associates Colleges,40,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,6109,1
16954,217934,Columbia College,Columbia,SC,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Baccalaureate Colleges--General,32,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Small Programs,20,Master's Colleges & Universities: Small Programs,20,45079,2
17254,217934,Columbia College,Columbia,SC,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Baccalaureate Colleges--General,32,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Small Programs,20,Master's Colleges & Universities: Small Programs,20,45079,2
19375,177065,Columbia College,Columbia,MO,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Baccalaureate Colleges--General,32,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,29019,2

In [ ]:
len(afford["Unit ID"].unique())

6256

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
id_df = afford[afford["Unit ID"] == 112561]

In [ ]:
varying_cols = id_df.nunique()[id_df.nunique() > 1].index.tolist()
varying_cols

['Student Family Earnings Ceiling',
 'Net Price',
 'Affordability Gap (net price minus income earned working 10 hrs at min wage)',
 'Weekly Hours to Close Gap',
 '100% TTD Affordability Gap',
 '150% TTD Affordability Gap',
 'Student Parent Affordability Gap: Center-Based Care',
 'Student Parent Affordability Gap: Home-Based Care',
 'Weekly Hours to Close Gap: Center-Based Care',
 'Weekly Hours to Close Gap: Home-Based Care',
 '100% TTD Student Parent Affordability Gap: Center-Based Care',
 '100% TTD Student Parent Affordability Gap: Home-Based Care',
 '150% TTD Student Parent Affordability Gap: Center-Based Care',
 '150% TTD Student Parent Affordability Gap: Home-Based Care']

In [ ]:
id_df[varying_cols]

,Student Family Earnings Ceiling,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care
4150,30000.0,14182.0,7182.0,10.3,14364.0,21546.0,28727.02,26884.6,41.04,38.41,57454.04,53769.2,114908.08,107538.4
5093,48000.0,17022.0,10022.0,14.3,20044.0,30066.0,31567.02,29724.6,45.10,42.46,63134.04,59449.2,126268.08,118898.4
9985,75000.0,17735.0,10735.0,15.3,21470.0,32205.0,32280.02,30437.6,46.11,43.48,64560.04,60875.2,129120.08,121750.4
14500,110000.0,19215.0,12215.0,17.4,24430.0,36645.0,33760.02,31917.6,48.23,45.60,67520.04,63835.2,135040.08,127670.4

In [ ]:
id_df

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,"Cost of Attendance: In State, On Campus",Cost of Attendance: Out of State,Cost of Attendance: In District,Cost of Attendance: In State,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
4150,112561,Columbia College,Sonora,CA,"Public, 2-year",4,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3040.0,.,16821.0,11939.0,11939.0,7000.0,30000.0,14.0,140.0,14182.0,7182.0,10.3,14364.0,21546.0,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,28727.02,26884.6,41.04,38.41,57454.04,53769.2,114908.08,107538.4,19702.56,21545.04,Associate's degree,40,Associate's degree,3,-2,Rural: Fringe,41,At least 2 but less than 4 years,2,"1,000 - 4,999",2,Tuolumne County,95370,California,6,38.03,-120.39,West,4.0,Pacific Division,9.0,https://www.gocolumbia.edu/admissions/,A,Associates Colleges,40,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,6109,1
5093,112561,Columbia College,Sonora,CA,"Public, 2-year",4,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3040.0,.,16821.0,11939.0,11939.0,7000.0,48000.0,14.0,140.0,17022.0,10022.0,14.3,20044.0,30066.0,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,31567.02,29724.6,45.10,42.46,63134.04,59449.2,126268.08,118898.4,19702.56,21545.04,Associate's degree,40,Associate's degree,3,-2,Rural: Fringe,41,At least 2 but less than 4 years,2,"1,000 - 4,999",2,Tuolumne County,95370,California,6,38.03,-120.39,West,4.0,Pacific Division,9.0,https://www.gocolumbia.edu/admissions/,A,Associates Colleges,40,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,6109,1
9985,112561,Columbia College,Sonora,CA,"Public, 2-year",4,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3040.0,.,16821.0,11939.0,11939.0,7000.0,75000.0,14.0,140.0,17735.0,10735.0,15.3,21470.0,32205.0,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,32280.02,30437.6,46.11,43.48,64560.04,60875.2,129120.08,121750.4,19702.56,21545.04,Associate's degree,40,Associate's degree,3,-2,Rural: Fringe,41,At least 2 but less than 4 years,2,"1,000 - 4,999",2,Tuolumne County,95370,California,6,38.03,-120.39,West,4.0,Pacific Division,9.0,https://www.gocolumbia.edu/admissions/,A,Associates Colleges,40,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,6109,1
14500,112561,Columbia College,Sonora,CA,"Public, 2-year",4,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3040.0,.,16821.0,11939.0,11939.0,7000.0,110000.0,14.0,140.0,19215.0,12215.0,17.4,24430.0,36645.0,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,33760.02,31917.6,48.23,45.60,67520.04,63835.2,135040.08,127670.4,19702.56,21545.04,Associate's degree,40,Associate's degree,3,-2,Rural: Fringe,41,At least 2 but less than 4 years,2,"1,000 - 4,999",2,Tuolumne County,95370,California,6,38.03,-120.39,West,4.0,Pacific Division,9.0,https://www.gocolumbia.edu/admissions/,A,Associates Colleges,40,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,6109,1

In [ ]:
afford["MSI Type"].value_counts()

MSI Type
HSI        1931
AANAPII     892
HBCU        452
PBI         282
NANTI       117
TRIBAL      106
ANNHI        77
Name: count, dtype: int64

In [ ]:
afford["MSI Status"].value_counts()

MSI Status
1.0    17175
0.0     3857
Name: count, dtype: int64

In [ ]:
afford["MSI Status"].isna().sum()

np.int64(267)

In [ ]:
afford[afford["MSI Status"].isna()]

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,"Cost of Attendance: In State, On Campus",Cost of Attendance: Out of State,Cost of Attendance: In District,Cost of Attendance: In State,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
20113,100733,University of Alabama System Office,Tuscaloosa,AL,Administrative Unit,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1936.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,1023.2,12278.4,1103.21,986.4,1063.54,11836.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12762.48,13238.52,Doctor's degree - research/scholarship and pro...,11,Doctor's degree,9,-2,City: Small,13,Four or more years,1,Not applicable,-2,Tuscaloosa County,35401,Alabama,1,33.21,-87.53,South,3.0,East South Central Division,6.0,,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,1125,1
20119,103529,University of Alaska System of Higher Education,Fairbanks,AK,Administrative Unit,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3677.0,NaN,NaN,NaN,NaN,5170.0,NaN,10.34,103.4,NaN,NaN,NaN,NaN,NaN,1.08,1501.6,18019.2,1619.03,1087.2,1172.22,13046.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14066.64,19428.36,Doctor's degree - research/scholarship,12,Doctor's degree,9,-2,Suburb: Small,23,Four or more years,1,Not applicable,-2,Fairbanks North Star Borough,99775-5000,Alaska,2,64.86,-147.85,West,4.0,Pacific Division,9.0,,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,2090,1
20123,105136,Maricopa Community College System Office,Tempe,AZ,Administrative Unit,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3224.0,NaN,NaN,NaN,NaN,6075.0,NaN,12.15,121.5,NaN,NaN,NaN,NaN,NaN,1.08,1220.4,14644.8,1315.84,1296.0,1397.35,15552.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16768.20,15790.08,Associate's degree,40,"At least 2, but less than 4 academic yrs",4,429,City: Midsize,12,At least 2 but less than 4 years,2,Not applicable,-2,Maricopa County,85281-6942,Arizona,4,33.41,-111.98,West,4.0,Mountain Division,8.0,,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,4013,1
20124,105367,Ottawa University-Phoenix,Phoenix,AZ,"Private not-for-profit, 4-year or above",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3224.0,NaN,NaN,NaN,NaN,6075.0,NaN,12.15,121.5,NaN,NaN,NaN,NaN,NaN,1.08,1220.4,14644.8,1315.84,1296.0,1397.35,15552.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16768.20,15790.08,Doctor's degree - professional practice,13,Doctor's degree,9,429,City: Large,11,Four or more years,1,"Under 1,000",1,Maricopa County,85021,Arizona,4,33.57,-112.11,West,4.0,Mountain Division,8.0,https://www.ottawa.edu/ouaz/admissions/overview,A,"Not applicable, not in Carnegie universe (not ...",-2,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Small Programs,20,Master's Colleges & Universities: Medium Programs,19,4013,2
20129,106892,Eastern College of Health Vocations-Little Rock,Little Rock,AR,"Private for-profit, less-than 2-year",9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1953.0,NaN,NaN,NaN,NaN,5500.0,NaN,11.00,110.0,NaN,NaN,NaN,NaN,NaN,1.08,1105.6,13267.2,1192.06,1260.0,1358.53,15120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16302.36,14304.72,Non-degree granting,0,Award of less than one academic year,1,340,City: Midsize,12,Less than 2 years (below associate),3,"Under 1,000",1,Pulaski County,72205,Arkansas,5,34.75,-92.34,South,3.0,West South Central Division,7.0,www.easterncollege.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,5119,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21294,498508,Ivy Tech Community College of Indiana - Region...,Valparaiso,IN,Sector unknown (not active),99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1556.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,1233.6,14803.2,1330.07,1140.0,1229.15,13680.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14749.80,15960.84,{Not available},-3,{Not available},-3,176,Rural: Fringe,41,{Not available},-3,Not applicable,-2,Porter County,46383-2520,Indiana,18,41.46,-87.02,Midwest,2.0,East North Central Division,3.0,,G,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,18127,-3
21295,498517,Ivy Tech Community College of Indiana - Region...,Lawrenceburg,IN,Sector unknown (not active),99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1556.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,1233.6,14803.2,1330.07,1140.0,1229.15,13680.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14749.80,15960.84,{Not available},-3,{Not available},-3,178,Town: Fringe,31,{Not available},-3,Not applicable,-2,Dearborn County,47025-1836,Indiana,18,39.09,-84.85,Midwest,2.0,East North Central Division,3.0,,G,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,18029,-3
21296,498526,Ivy Tech Community College of Indiana - Region...,Noblesville,IN,Sector unknown (not active),99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1556.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,1233.6,14803.2,1330.07,1140.0,1229.15,13680.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14749.80,15960.84,{Not available},-3,{Not available},-3,294,Suburb: Large,21,{Not available},-3,Not applicable,-2,Hamilton County,46060-0000,Indiana,18,40.05,-86.00,Midwest,2.0,East North Central Division,3.0,,G,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,18057,-3
21297,498535,Ivy Tech Community College of Indiana - Anderson,Anderson,IN,Sector unknown (not active),99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1556.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,1233.6,14803.2,1330.07,1140.0,1229.15,13680.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14749.80,15960.84,{Not available},-3,{Not available},-3,294,City: Small,13,{Not available},-3,Not applicable,-2,Madison County,46013-3413,Indiana,18,40.05,-85.67,Midwest,2.0,East North Central Division,3.0,,G,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,18095,-3
21298,498544,UPMC Shadyside - at UPMC Harrisburg,Harrisburg,PA,"Private not-for-profit, less-than 2-year",8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1597.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,1392.8,16713.6,1501.72,1233.6,1330.07,14803.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15960.84,18020.64,Non-degree granting,0,{Not available},-3,276,City: Small,13,Less than 2 years (below associate),3,Not applicable,-2,Dauphin County,17101-2225,Pennsylvania,42,40.26,-76.88,Northeast,1.0,Middle Atlantic Division,2.0,https://www.upmc.com/healthcare-professionals/...,G,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,42043,2

In [ ]:
afford[afford["MSI Type"].isna() & (afford["MSI Status"] == 0.0)]

Empty DataFrame
Columns: [Unit ID, Institution Name, City, State Abbreviation, Sector Name, Sector, MSI Status, MSI Type, HBCU, PBI, ANNHI, TRIBAL, AANAPII, HSI, NANTI, Average Work Study Award, Cost of Attendance: In State, On Campus, Cost of Attendance: Out of State, Cost of Attendance: In District, Cost of Attendance: In State, Annual Income Estimate, Student Family Earnings Ceiling, State Minimum Wage, Income Earned from Working 10 Hours a Week at State's Minimum Wage, Net Price, Affordability Gap (net price minus income earned working 10 hrs at min wage), Weekly Hours to Close Gap, 100% TTD Affordability Gap, 150% TTD Affordability Gap, CPI Index, Monthly Center-Based Child Care Cost, Annual Center-Based Child Care Cost, Adjusted Monthly Center-Based Child Care Cost, Monthly Home-Based Child Care Cost, Adjusted Monthly Home-Based Child Care Cost, Annual Home-Based Child Care Cost, Student Parent Affordability Gap: Center-Based Care, Student Parent Affordability Gap: Home-Based Care, Weekly Hours to Close Gap: Center-Based Care, Weekly Hours to Close Gap: Home-Based Care, 100% TTD Student Parent Affordability Gap: Center-Based Care, 100% TTD Student Parent Affordability Gap: Home-Based Care, 150% TTD Student Parent Affordability Gap: Center-Based Care, 150% TTD Student Parent Affordability Gap: Home-Based Care, Adjusted Annual Home-Based Child Care Cost, Adjusted Annual Center-Based Child Care Cost, Highest Degree Offered Name, Highest Degree Offered, Highest Level Offered Name, Highest Level Offered, Combined Statistical Area, Degree of Localization Name, Degree of Localization, Institution Level Name, Institution Level, Institution Size Category Name, Institution Size Category, County Name, Zip Code, State, State Code (FIPS), Latitude, Longitude, Region, Region #, Sub Region, Sub Region #, Admissions Website, Institution Status, 2000 Carnegie Classification Name, 2000 Carnegie Classification, 2015 Carnegie Classification Name, 2015 Carnegie Classification, 2018 Carnegie Classification Name, 2018 Carnegie Classification, 2021 Carnegie Classification Name, 2021 Carnegie Classification, County Code, Control of Institution]
Index: []

In [ ]:
afford[afford["MSI Status"] == 0.0]

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,"Cost of Attendance: In State, On Campus",Cost of Attendance: Out of State,Cost of Attendance: In District,Cost of Attendance: In State,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
27,165112,Bunker Hill Community College,Boston,MA,"Public, 2-year",4,0.0,HSI,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2015.0,.,13391.0,10095.0,10095.0,6750.0,30000.0,13.50,135.0,4847.0,-1903.0,-2.8,-3806.0,-5709.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,22980.13,18700.11,34.04,27.70,45960.26,37400.22,91920.52,74800.44,20603.16,24883.08,Associate's degree,40,Associate's degree,3,148,City: Large,11,At least 2 but less than 4 years,2,"5,000 - 9,999",3,Suffolk County,02129-2925,Massachusetts,25,42.37,-71.07,Northeast,1.0,New England Division,1.0,www.bhcc.edu/admissions/,A,Associates Colleges,40,Associate's Colleges: High Transfer-Mixed Trad...,2,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,25025,1
32,367884,Hodges University,Fort Myers,FL,"Private not-for-profit, 4-year or above",2,0.0,HSI,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2537.0,.,18253.0,18253.0,18253.0,4325.0,30000.0,8.65,86.5,22678.0,18353.0,42.4,73412.0,110118.0,1.08,1142.4,13708.8,1231.74,1186.8,1279.61,14241.6,33133.83,33708.29,76.61,77.94,132535.32,134833.16,198802.98,202249.74,15355.32,14780.88,Master's degree,20,Master's degree,7,163,City: Small,13,Four or more years,1,"Under 1,000",1,Lee County,33966,Florida,12,26.61,-81.82,South,3.0,South Atlantic Division,5.0,https://www.hodges.edu/admissions-process.html,A,Baccalaureate Colleges--General,32,Master's Colleges & Universities: Small Programs,20,Master's Colleges & Universities: Small Programs,20,Master's Colleges & Universities: Small Programs,20,12071,2
57,163338,University of Maryland Eastern Shore,Princess Anne,MD,"Public, 4-year or above",1,0.0,HBCU,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2320.0,26554,34464.0,23634.0,23634.0,5875.0,30000.0,11.75,117.5,10634.0,4759.0,8.1,19036.0,28554.0,1.08,1747.2,20966.4,1883.83,1209.6,1304.19,14515.2,27364.97,20409.29,46.58,34.74,109459.88,81637.16,164189.82,122455.74,15650.28,22605.96,Doctor's degree - research/scholarship and pro...,11,Doctor's degree,9,480,Town: Fringe,31,Four or more years,1,"1,000 - 4,999",2,Somerset County,21853-1299,Maryland,24,38.21,-75.69,South,3.0,South Atlantic Division,5.0,www.umes.edu/Admissions,A,Masters Colleges and Universities I,21,Doctoral Universities: Moderate Research Activity,17,Doctoral Universities: High Research Activity_...,16,Doctoral Universities: High Research Activity_...,16,24039,1
61,163453,Morgan State University,Baltimore,MD,"Public, 4-year or above",1,0.0,HBCU,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2320.0,26438,33502.0,22820.0,22820.0,5875.0,30000.0,11.75,117.5,10666.0,4791.0,8.2,19164.0,28746.0,1.08,1747.2,20966.4,1883.83,1209.6,1304.19,14515.2,27396.97,20441.29,46.63,34.79,109587.88,81765.16,164381.82,122647.74,15650.28,22605.96,Doctor's degree - research/scholarship,12,Doctor's degree,9,548,City: Large,11,Four or more years,1,"5,000 - 9,999",3,Baltimore City,21251-0001,Maryland,24,39.34,-76.59,South,3.0,South Atlantic Division,5.0,https://morgan.edu/undergradadmissions,A,Masters Colleges and Universities I,21,Doctoral Universities: Moderate Research Activity,17,Doctoral Universities: High Research Activity_...,16,Doctoral Universities: High Research Activity_...,16,24510,1
62,163426,Montgomery College,Rockville,MD,"Public, 2-year",4,0.0,AANAPII,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2320.0,.,19166.0,13262.0,16598.0,5875.0,30000.0,11.75,117.5,6119.0,244.0,0.4,488.0,732.0,1.08,1747.2,20966.4,1883.83,1209.6,1304.19,14515.2,22849.97,15894.29,38.89,27.05,45699.94,31788.58,91399.88,63577.16,15650.28,22605.96,Associate's degree,40,Associate's degree,3,548,City: Small,13,At least 2 but less than 4 years,2,"10,000 - 19,999",4,Montgomery County,20850,Maryland,24,39.10,-77.16,South,3.0,South Atlantic Division,5.0,www.montgomerycollege.edu/admissions-registrat...,A,Associates Colleges,40,Associate's Colleges: High Transfer-Mixed Trad...,2,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-Mixed Trad...,2,24031,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20994,469629,Oklahoma Technical College,Tulsa,OK,"Private not-for-profit, 2-year",5,0.0,NANTI,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2215.0,NaN,NaN,NaN,NaN,5625.0,NaN,11.25,112.5,NaN,NaN,NaN,NaN,NaN,1.08,1176.4,14116.8,1268.39,1116.0,1203.27,13392.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14439.24,15220.68,Associate's degree,40,Associate's degree,3,538,City: Large,11,At least 2 but less than 4 years,2,"Under 1,000",1,Tulsa County,74145-1122,Oklahoma,40,36.10,-95.91,South,3.0,West South Central Division,7.0,https://oklahomatechnicalcollege.com/resources...,A,"Not applicable, not in Carnegie universe (not ...",-2,Associate's Colleges: High Career & Technical-...,9,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,40143,2
21030,481058,Grace Mission University,Fullerton,CA,"Private not-for-profit, 4-year or above",2,0.0,AANAPII,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3040.0,.,11501.0,11501.0,11501.0,7000.0,NaN,14.00,140.0,NaN,NaN,NaN,NaN,NaN,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19702.56,21545.04,Doctor's degree - other,14,Doctor's degree,9,348,Suburb: Large,21,Four or more years,1,"Under 1,000",1,Orange County,92833-3860,California,6,33.87,-117.96,West,4.0,Pacific Division,9.0,www.gm.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,Special Focus Four-Year: Faith-Related Institu...,24,Special Focus Four-Year: Faith-Related Institu...,24,Special Focus Four-Year: Faith-Related Institu...,24,6059,2
21064,483595,Ana G. Mendez University,Orlando,FL,"Private not-for-profit, 4-year or above",2,0.0,HSI,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2537.0,.,16776.0,16776.0,16776.0,4325.0,NaN,8.65,86.5,NaN,NaN,NaN,NaN,NaN,1.08,1142.4,13708.8,1231.74,1186.8,1279.61,14241.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15355.32,14780.88,Doctor's degree - research/scholarship,12,Doctor's degree,9,422,City: Large,11,Four or more years,1,"5,000 - 9,999",3,Orange County,32822,Florida,12,28.48,-81.31,South,3.0,South Atlantic Division,5.0,www.agmu.edu/en/admission-requirements,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,Baccalaureate Colleges: Arts & Sciences Focus,21,Special Focus Four-Year: Other Special Focus I...,32,12095,2
21131,490045,Presbyterian Theological Seminary in America,Santa Fe Springs,CA,"Private not-for-profit, 4-year or above",2,0.0,AANAPII,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3040.0,.,17352.0,17352.0,17352.0,7000.0,NaN,14.00,140.0,NaN,NaN,NaN,NaN,NaN,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19702.56,21545.04,Doctor's degree - other,14,Doctor's degree,9,348,Suburb: Large,21,Four or more years,1,"Under 1,000",1,Los Angeles County,90670-5611,California,6,33.89,-118.05,West,4.0,Pacific Division,9.0,ch.ptsa.edu/en/admission-procedure/,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,Special Focus Four-Year: Faith-Related Institu...,24,Special Focus Four-Year: Faith-Related Institu...,24,6037,2
21180,492689,Texas Tech University Health Sciences Center-E...,El Paso,TX,"Public, 4-year or above",1,0.0,HSI,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2356.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,1115.6,13387.2,1202.84,1509.6,1627.65,18115.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19531.80,14434.08,Doctor's degree - professional practice,13,Doctor's degree,9,238,City: Large,11,Four or more years,1,"Under 1,000",1,El Paso County,79905-2827,Texas,48,31.77,-106.43,South,3.0,West South Central Division,7.0,elpaso.ttuhsc.edu/som/admissions/,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,Special Focus Four-Year: Medical Schools & Cen...,25,48141,1

In [ ]:
mask = (afford["MSI Type"].isna()) & (afford["MSI Status"] == 1.0)
afford.loc[mask, "MSI Type"] = "Not MSI"

In [ ]:
afford["MSI Type"].isna().sum()

np.int64(267)

In [ ]:
afford2 = afford[~afford["MSI Type"].isna()| ~afford["MSI Status"].isna()]
afford2.head()

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,"Cost of Attendance: In State, On Campus",Cost of Attendance: Out of State,Cost of Attendance: In District,Cost of Attendance: In State,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
0,371928,Modern Technology School,Fountain Valley,CA,"Private for-profit, 2-year",6,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3040.0,NaN,NaN,NaN,NaN,7000.0,30000.0,14.00,140.0,22711.0,15711.0,22.4,31422.0,47133.0,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,37256.02,35413.60,53.22,50.59,74512.04,70827.20,149024.08,141654.40,19702.56,21545.04,Non-degree granting,0,"At least 2, but less than 4 academic yrs",4,348,City: Small,13,At least 2 but less than 4 years,2,"Under 1,000",1,Orange County,92708-9821,California,6,33.72,-117.92,West,4.0,Pacific Division,9.0,https://www.mtschool.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,6059,3
1,369668,Central Pennsylvania Institute of Science and ...,Pleasant Gap,PA,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.0,NaN,NaN,NaN,NaN,3625.0,30000.0,7.25,72.5,9184.0,5559.0,15.3,11118.0,16677.0,1.08,1392.8,16713.6,1501.72,1233.6,1330.07,14803.2,23579.60,21519.81,65.05,59.36,47159.20,43039.62,94318.40,86079.24,15960.84,18020.64,Associate's degree,40,Associate's degree,3,524,Rural: Fringe,41,At least 2 but less than 4 years,2,"Under 1,000",1,Centre County,16823,Pennsylvania,42,40.88,-77.74,Northeast,1.0,Middle Atlantic Division,2.0,,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,Special Focus Two-Year: Technical Professions,11,42027,1
2,369516,Bryan University,Springfield,MO,"Private for-profit, 4-year or above",3,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2165.0,.,15693.0,15693.0,15693.0,5150.0,30000.0,10.30,103.0,21316.0,16166.0,31.4,64664.0,96996.0,1.08,1110.0,13320.0,1196.80,1258.8,1357.24,15105.6,30527.62,32452.86,59.28,63.02,122110.48,129811.44,183165.72,194717.16,16286.88,14361.60,Master's degree,20,Master's degree,7,-2,City: Midsize,12,Four or more years,1,"Under 1,000",1,Greene County,65804,Missouri,29,37.14,-93.25,Midwest,2.0,West North Central Division,4.0,www.bryanu.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,29077,3
3,164492,Anna Maria College,Paxton,MA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,63374,55501.0,55501.0,55501.0,6750.0,30000.0,13.50,135.0,24807.0,18057.0,26.8,72228.0,108342.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,42940.13,38660.11,63.62,57.27,171760.52,154640.44,257640.78,231960.66,20603.16,24883.08,Master's degree,20,Post-master's certificate,8,148,Rural: Fringe,41,Four or more years,1,"1,000 - 4,999",2,Worcester County,01612-1198,Massachusetts,25,42.33,-71.92,Northeast,1.0,New England Division,1.0,www.annamaria.edu/admission,A,Masters Colleges and Universities I,21,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,25027,2
4,164465,Amherst College,Amherst,MA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,87640,81787.0,81787.0,81787.0,6750.0,30000.0,13.50,135.0,1888.0,-4862.0,-7.2,-19448.0,-29172.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,20021.13,15741.11,29.66,23.32,80084.52,62964.44,120126.78,94446.66,20603.16,24883.08,Bachelor's degree,30,Bachelor's degree,5,-2,Suburb: Large,21,Four or more years,1,"1,000 - 4,999",2,Hampshire County,01002-5000,Massachusetts,25,42.37,-72.52,Northeast,1.0,New England Division,1.0,www.amherst.edu/admission/,A,Baccalaureate Colleges--Liberal Arts,31,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,25015,2

In [ ]:
afford2.isna().sum().sort_values(ascending = False)[lambda x: x > 0]

Cost of Attendance: In District                                                 6486
Cost of Attendance: Out of State                                                6486
Cost of Attendance: In State, On Campus                                         6486
Cost of Attendance: In State                                                    6486
Weekly Hours to Close Gap: Center-Based Care                                    1304
Student Parent Affordability Gap: Center-Based Care                             1304
150% TTD Student Parent Affordability Gap: Home-Based Care                      1304
Student Parent Affordability Gap: Home-Based Care                               1304
100% TTD Student Parent Affordability Gap: Home-Based Care                      1304
100% TTD Student Parent Affordability Gap: Center-Based Care                    1304
Weekly Hours to Close Gap: Home-Based Care                                      1304
150% TTD Student Parent Affordability Gap: Center-Based Care                    1304
Affordability Gap (net price minus income earned working 10 hrs at min wage)     929
150% TTD Affordability Gap                                                       929
100% TTD Affordability Gap                                                       929
Weekly Hours to Close Gap                                                        929
Student Family Earnings Ceiling                                                  920
Net Price                                                                        920
Annual Home-Based Child Care Cost                                                399
Annual Center-Based Child Care Cost                                              399
Monthly Center-Based Child Care Cost                                             399
Monthly Home-Based Child Care Cost                                               399
Adjusted Monthly Center-Based Child Care Cost                                    399
Adjusted Annual Center-Based Child Care Cost                                     399
Adjusted Annual Home-Based Child Care Cost                                       399
Sub Region                                                                       399
Sub Region #                                                                     399
Region                                                                           399
Region #                                                                         399
State                                                                            399
Adjusted Monthly Home-Based Child Care Cost                                      399
Income Earned from Working 10 Hours a Week at State's Minimum Wage                 9
State Minimum Wage                                                                 9
Annual Income Estimate                                                             9
Average Work Study Award                                                           5
dtype: int64

In [ ]:
afford.columns

Index(['Unit ID', 'Institution Name', 'City', 'State Abbreviation',
       'Sector Name', 'Sector', 'MSI Status', 'MSI Type', 'HBCU', 'PBI',
       'ANNHI', 'TRIBAL', 'AANAPII', 'HSI', 'NANTI',
       'Average Work Study Award', 'Cost of Attendance: In State, On Campus',
       'Cost of Attendance: Out of State', 'Cost of Attendance: In District',
       'Cost of Attendance: In State', 'Annual Income Estimate',
       'Student Family Earnings Ceiling', 'State Minimum Wage',
       'Income Earned from Working 10 Hours a Week at State's Minimum Wage',
       'Net Price',
       'Affordability Gap (net price minus income earned working 10 hrs at min wage)',
       'Weekly Hours to Close Gap', '100% TTD Affordability Gap',
       '150% TTD Affordability Gap', 'CPI Index',
       'Monthly Center-Based Child Care Cost',
       'Annual Center-Based Child Care Cost',
       'Adjusted Monthly Center-Based Child Care Cost',
       'Monthly Home-Based Child Care Cost',
       'Adjusted Monthly Home-Based Child Care Cost',
       'Annual Home-Based Child Care Cost',
       'Student Parent Affordability Gap: Center-Based Care',
       'Student Parent Affordability Gap: Home-Based Care',
       'Weekly Hours to Close Gap: Center-Based Care',
       'Weekly Hours to Close Gap: Home-Based Care',
       '100% TTD Student Parent Affordability Gap: Center-Based Care',
       '100% TTD Student Parent Affordability Gap: Home-Based Care',
       '150% TTD Student Parent Affordability Gap: Center-Based Care',
       '150% TTD Student Parent Affordability Gap: Home-Based Care',
       'Adjusted Annual Home-Based Child Care Cost',
       'Adjusted Annual Center-Based Child Care Cost',
       'Highest Degree Offered Name', 'Highest Degree Offered',
       'Highest Level Offered Name', 'Highest Level Offered',
       'Combined Statistical Area', 'Degree of Localization Name',
       'Degree of Localization', 'Institution Level Name', 'Institution Level',
       'Institution Size Category Name', 'Institution Size Category',
       'County Name', 'Zip Code', 'State', 'State Code (FIPS)', 'Latitude',
       'Longitude', 'Region', 'Region #', 'Sub Region', 'Sub Region #',
       'Admissions Website', 'Institution Status',
       '2000 Carnegie Classification Name', '2000 Carnegie Classification',
       '2015 Carnegie Classification Name', '2015 Carnegie Classification',
       '2018 Carnegie Classification Name', '2018 Carnegie Classification',
       '2021 Carnegie Classification Name', '2021 Carnegie Classification',
       'County Code', 'Control of Institution'],
      dtype='object')

In [ ]:
afford2.columns

Index(['Unit ID', 'Institution Name', 'City', 'State Abbreviation',
       'Sector Name', 'Sector', 'MSI Status', 'MSI Type', 'HBCU', 'PBI',
       'ANNHI', 'TRIBAL', 'AANAPII', 'HSI', 'NANTI',
       'Average Work Study Award', 'Cost of Attendance: In State, On Campus',
       'Cost of Attendance: Out of State', 'Cost of Attendance: In District',
       'Cost of Attendance: In State', 'Annual Income Estimate',
       'Student Family Earnings Ceiling', 'State Minimum Wage',
       'Income Earned from Working 10 Hours a Week at State's Minimum Wage',
       'Net Price',
       'Affordability Gap (net price minus income earned working 10 hrs at min wage)',
       'Weekly Hours to Close Gap', '100% TTD Affordability Gap',
       '150% TTD Affordability Gap', 'CPI Index',
       'Monthly Center-Based Child Care Cost',
       'Annual Center-Based Child Care Cost',
       'Adjusted Monthly Center-Based Child Care Cost',
       'Monthly Home-Based Child Care Cost',
       'Adjusted Monthly Home-Based Child Care Cost',
       'Annual Home-Based Child Care Cost',
       'Student Parent Affordability Gap: Center-Based Care',
       'Student Parent Affordability Gap: Home-Based Care',
       'Weekly Hours to Close Gap: Center-Based Care',
       'Weekly Hours to Close Gap: Home-Based Care',
       '100% TTD Student Parent Affordability Gap: Center-Based Care',
       '100% TTD Student Parent Affordability Gap: Home-Based Care',
       '150% TTD Student Parent Affordability Gap: Center-Based Care',
       '150% TTD Student Parent Affordability Gap: Home-Based Care',
       'Adjusted Annual Home-Based Child Care Cost',
       'Adjusted Annual Center-Based Child Care Cost',
       'Highest Degree Offered Name', 'Highest Degree Offered',
       'Highest Level Offered Name', 'Highest Level Offered',
       'Combined Statistical Area', 'Degree of Localization Name',
       'Degree of Localization', 'Institution Level Name', 'Institution Level',
       'Institution Size Category Name', 'Institution Size Category',
       'County Name', 'Zip Code', 'State', 'State Code (FIPS)', 'Latitude',
       'Longitude', 'Region', 'Region #', 'Sub Region', 'Sub Region #',
       'Admissions Website', 'Institution Status',
       '2000 Carnegie Classification Name', '2000 Carnegie Classification',
       '2015 Carnegie Classification Name', '2015 Carnegie Classification',
       '2018 Carnegie Classification Name', '2018 Carnegie Classification',
       '2021 Carnegie Classification Name', '2021 Carnegie Classification',
       'County Code', 'Control of Institution'],
      dtype='object')

In [ ]:
afford2["Admissions Website"]

0                        https://www.mtschool.edu/
1
2                                  www.bryanu.edu/
3                      www.annamaria.edu/admission
4                       www.amherst.edu/admission/
                           ...
21286            https://www.tspacollegeville.com/
21287
21288            https://www.gobctc.com/admissions
21291    https://ntts.edu/cdl-training/admissions/
21292
Name: Admissions Website, Length: 21032, dtype: object

In [ ]:
afford2.head()

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,"Cost of Attendance: In State, On Campus",Cost of Attendance: Out of State,Cost of Attendance: In District,Cost of Attendance: In State,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
0,371928,Modern Technology School,Fountain Valley,CA,"Private for-profit, 2-year",6,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3040.0,NaN,NaN,NaN,NaN,7000.0,30000.0,14.00,140.0,22711.0,15711.0,22.4,31422.0,47133.0,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,37256.02,35413.60,53.22,50.59,74512.04,70827.20,149024.08,141654.40,19702.56,21545.04,Non-degree granting,0,"At least 2, but less than 4 academic yrs",4,348,City: Small,13,At least 2 but less than 4 years,2,"Under 1,000",1,Orange County,92708-9821,California,6,33.72,-117.92,West,4.0,Pacific Division,9.0,https://www.mtschool.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,6059,3
1,369668,Central Pennsylvania Institute of Science and ...,Pleasant Gap,PA,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.0,NaN,NaN,NaN,NaN,3625.0,30000.0,7.25,72.5,9184.0,5559.0,15.3,11118.0,16677.0,1.08,1392.8,16713.6,1501.72,1233.6,1330.07,14803.2,23579.60,21519.81,65.05,59.36,47159.20,43039.62,94318.40,86079.24,15960.84,18020.64,Associate's degree,40,Associate's degree,3,524,Rural: Fringe,41,At least 2 but less than 4 years,2,"Under 1,000",1,Centre County,16823,Pennsylvania,42,40.88,-77.74,Northeast,1.0,Middle Atlantic Division,2.0,,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,Special Focus Two-Year: Technical Professions,11,42027,1
2,369516,Bryan University,Springfield,MO,"Private for-profit, 4-year or above",3,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2165.0,.,15693.0,15693.0,15693.0,5150.0,30000.0,10.30,103.0,21316.0,16166.0,31.4,64664.0,96996.0,1.08,1110.0,13320.0,1196.80,1258.8,1357.24,15105.6,30527.62,32452.86,59.28,63.02,122110.48,129811.44,183165.72,194717.16,16286.88,14361.60,Master's degree,20,Master's degree,7,-2,City: Midsize,12,Four or more years,1,"Under 1,000",1,Greene County,65804,Missouri,29,37.14,-93.25,Midwest,2.0,West North Central Division,4.0,www.bryanu.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,29077,3
3,164492,Anna Maria College,Paxton,MA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,63374,55501.0,55501.0,55501.0,6750.0,30000.0,13.50,135.0,24807.0,18057.0,26.8,72228.0,108342.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,42940.13,38660.11,63.62,57.27,171760.52,154640.44,257640.78,231960.66,20603.16,24883.08,Master's degree,20,Post-master's certificate,8,148,Rural: Fringe,41,Four or more years,1,"1,000 - 4,999",2,Worcester County,01612-1198,Massachusetts,25,42.33,-71.92,Northeast,1.0,New England Division,1.0,www.annamaria.edu/admission,A,Masters Colleges and Universities I,21,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,25027,2
4,164465,Amherst College,Amherst,MA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,87640,81787.0,81787.0,81787.0,6750.0,30000.0,13.50,135.0,1888.0,-4862.0,-7.2,-19448.0,-29172.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,20021.13,15741.11,29.66,23.32,80084.52,62964.44,120126.78,94446.66,20603.16,24883.08,Bachelor's degree,30,Bachelor's degree,5,-2,Suburb: Large,21,Four or more years,1,"1,000 - 4,999",2,Hampshire County,01002-5000,Massachusetts,25,42.37,-72.52,Northeast,1.0,New England Division,1.0,www.amherst.edu/admission/,A,Baccalaureate Colleges--Liberal Arts,31,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,25015,2

In [ ]:
afford2[afford2["Cost of Attendance: In District"].isna()]

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,"Cost of Attendance: In State, On Campus",Cost of Attendance: Out of State,Cost of Attendance: In District,Cost of Attendance: In State,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
0,371928,Modern Technology School,Fountain Valley,CA,"Private for-profit, 2-year",6,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3040.0,NaN,NaN,NaN,NaN,7000.0,30000.0,14.00,140.0,22711.0,15711.0,22.4,31422.0,47133.0,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,37256.02,35413.60,53.22,50.59,74512.04,70827.20,149024.08,141654.40,19702.56,21545.04,Non-degree granting,0,"At least 2, but less than 4 academic yrs",4,348,City: Small,13,At least 2 but less than 4 years,2,"Under 1,000",1,Orange County,92708-9821,California,6,33.72,-117.92,West,4.0,Pacific Division,9.0,https://www.mtschool.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,6059,3
1,369668,Central Pennsylvania Institute of Science and ...,Pleasant Gap,PA,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.0,NaN,NaN,NaN,NaN,3625.0,30000.0,7.25,72.5,9184.0,5559.0,15.3,11118.0,16677.0,1.08,1392.8,16713.6,1501.72,1233.6,1330.07,14803.2,23579.60,21519.81,65.05,59.36,47159.20,43039.62,94318.40,86079.24,15960.84,18020.64,Associate's degree,40,Associate's degree,3,524,Rural: Fringe,41,At least 2 but less than 4 years,2,"Under 1,000",1,Centre County,16823,Pennsylvania,42,40.88,-77.74,Northeast,1.0,Middle Atlantic Division,2.0,,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,Special Focus Two-Year: Technical Professions,11,42027,1
7,369950,Hamrick School,Medina,OH,"Private for-profit, less-than 2-year",9,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1894.0,NaN,NaN,NaN,NaN,3625.0,30000.0,7.25,72.5,3759.0,134.0,0.4,268.0,402.0,1.08,1119.2,13430.4,1206.72,1216.8,1311.95,14601.6,14614.66,15877.45,40.32,43.80,29229.32,31754.90,58458.64,63509.80,15743.40,14480.64,Non-degree granting,0,Award of less than one academic year,1,184,Rural: Fringe,41,Less than 2 years (below associate),3,"Under 1,000",1,Medina County,44256,Ohio,39,41.14,-81.73,Midwest,2.0,East North Central Division,3.0,https://www.hamrickschool.edu/admissions-proce...,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,39103,3
8,367875,Brewster Technical College,Tampa,FL,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2537.0,NaN,NaN,NaN,NaN,4325.0,30000.0,8.65,86.5,9731.0,5406.0,12.5,10812.0,16218.0,1.08,1142.4,13708.8,1231.74,1186.8,1279.61,14241.6,20186.83,20761.29,46.67,48.00,40373.66,41522.58,80747.32,83045.16,15355.32,14780.88,Non-degree granting,0,"At least 2, but less than 4 academic yrs",4,-2,City: Large,11,At least 2 but less than 4 years,2,"1,000 - 4,999",2,Hillsborough County,33602,Florida,12,27.96,-82.46,South,3.0,South Atlantic Division,5.0,,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,12057,1
12,164535,Assabet Valley Regional Technical School,Marlborough,MA,"Public, less-than 2-year",7,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,NaN,NaN,NaN,NaN,6750.0,30000.0,13.50,135.0,36348.0,29598.0,43.8,59196.0,88794.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,54481.13,50201.11,80.71,74.37,108962.26,100402.22,217924.52,200804.44,20603.16,24883.08,Non-degree granting,0,"At least 1, but less than 2 academic yrs",2,148,Suburb: Large,21,Less than 2 years (below associate),3,"Under 1,000",1,Middlesex County,1752,Massachusetts,25,42.37,-71.57,Northeast,1.0,New England Division,1.0,www.assabet.org/,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,25017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21285,498289,Pontifex University,Atlanta,GA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2125.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,983.2,11798.4,1060.09,1309.2,1411.58,15710.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16938.96,12721.08,Doctor's degree - research/scholarship,12,Doctor's degree,9,122,City: Large,11,Four or more years,1,"Under 1,000",1,Fulton County,30327,Georgia,13,33.88,-84.41,South,3.0,South Atlantic Division,5.0,https://www.pontifex.university/page/show/226944#,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,13121,2
21286,498359,The Salon Professional Academy,Collegeville,PA,"Private for-profit, less-than 2-year",9,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,1392.8,16713.6,1501.72,1233.6,1330.07,14803.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15960.84,18020.64,Non-degree granting,0,"At least 1, but less than 2 academic yrs",2,428,Suburb: Large,21,Less than 2 years (below associate),3,"Under 1,000",1,Montgomery County,19426-2025,Pennsylvania,42,40.19,-75.47,Northeast,1.0,Middle Atlantic Division,2.0,https://www.tspacollegeville.com/,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,42091,3
21287,498368,Studio 75 Hair Academy,Millington,TN,"Private for-profit, less-than 2-year",9,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2029.0,NaN,NaN,NaN,NaN,4500.0,NaN,9.00,90.0,NaN,NaN,NaN,NaN,NaN,1.08,1358.4,16300.8,1464.63,1126.8,1214.92,13521.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14579.04,17575.56,Non-degree granting,0,"At least 1, but less than 2 academic yrs",2,368,Suburb: Large,21,Less than 2 years (below associate),3,"Under 1,000",1,Shelby County,38053-2066,Tennessee,47,35.34,-89.90,South,3.0,East South Central Division,6.0,,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,47157,3
21288,498386,Boone Career and Technical Center,Foster,WV,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1902.0,NaN,NaN,NaN,NaN,4650.0,NaN,9.30,93.0,NaN,NaN,NaN,NaN,NaN,1.08,1242.0,14904.0,1339.12,1312.8,1415.46,15753.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16985.52,16069.44,Non-degree granting,0,"At least 2, but less than 4 academic yrs",4,170,Rural: Fringe,41,At least 2 but less than 4 years,2,"Under 1,000",1,Boone County,25081-8126,West Virginia,54,38.10,-81.81,South,3.0,South Atlantic Division,5.0,https://www.gobctc.com/admissions,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,54005,1
21291,498465,National Tractor Trailer School,Phoenix,AZ,"Private for-profit, less-than 2-year",9,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3224.0,NaN,NaN,NaN,NaN,6075.0,NaN,12.15,121.5,NaN,NaN,NaN,NaN,NaN,1.08,1220.4,14644.8,1315.84,1296.0,1397.35,15552.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16768.20,15790.08,Non-degree granting,0,Award of less than one academic year,1,429,City: Large,11,Less than 2 years (below associate),3,"Under 1,000",1,Maricopa County,85043-7410,Arizona,4,33.43,-112.22,West,4.0,Mountain Division,8.0,https://ntts.edu/cdl-training/admissions/,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,4013,3

In [ ]:
afford2

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,"Cost of Attendance: In State, On Campus",Cost of Attendance: Out of State,Cost of Attendance: In District,Cost of Attendance: In State,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
0,371928,Modern Technology School,Fountain Valley,CA,"Private for-profit, 2-year",6,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3040.0,NaN,NaN,NaN,NaN,7000.0,30000.0,14.00,140.0,22711.0,15711.0,22.4,31422.0,47133.0,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,37256.02,35413.60,53.22,50.59,74512.04,70827.20,149024.08,141654.40,19702.56,21545.04,Non-degree granting,0,"At least 2, but less than 4 academic yrs",4,348,City: Small,13,At least 2 but less than 4 years,2,"Under 1,000",1,Orange County,92708-9821,California,6,33.72,-117.92,West,4.0,Pacific Division,9.0,https://www.mtschool.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,6059,3
1,369668,Central Pennsylvania Institute of Science and ...,Pleasant Gap,PA,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.0,NaN,NaN,NaN,NaN,3625.0,30000.0,7.25,72.5,9184.0,5559.0,15.3,11118.0,16677.0,1.08,1392.8,16713.6,1501.72,1233.6,1330.07,14803.2,23579.60,21519.81,65.05,59.36,47159.20,43039.62,94318.40,86079.24,15960.84,18020.64,Associate's degree,40,Associate's degree,3,524,Rural: Fringe,41,At least 2 but less than 4 years,2,"Under 1,000",1,Centre County,16823,Pennsylvania,42,40.88,-77.74,Northeast,1.0,Middle Atlantic Division,2.0,,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,Special Focus Two-Year: Technical Professions,11,42027,1
2,369516,Bryan University,Springfield,MO,"Private for-profit, 4-year or above",3,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2165.0,.,15693.0,15693.0,15693.0,5150.0,30000.0,10.30,103.0,21316.0,16166.0,31.4,64664.0,96996.0,1.08,1110.0,13320.0,1196.80,1258.8,1357.24,15105.6,30527.62,32452.86,59.28,63.02,122110.48,129811.44,183165.72,194717.16,16286.88,14361.60,Master's degree,20,Master's degree,7,-2,City: Midsize,12,Four or more years,1,"Under 1,000",1,Greene County,65804,Missouri,29,37.14,-93.25,Midwest,2.0,West North Central Division,4.0,www.bryanu.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,29077,3
3,164492,Anna Maria College,Paxton,MA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,63374,55501.0,55501.0,55501.0,6750.0,30000.0,13.50,135.0,24807.0,18057.0,26.8,72228.0,108342.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,42940.13,38660.11,63.62,57.27,171760.52,154640.44,257640.78,231960.66,20603.16,24883.08,Master's degree,20,Post-master's certificate,8,148,Rural: Fringe,41,Four or more years,1,"1,000 - 4,999",2,Worcester County,01612-1198,Massachusetts,25,42.33,-71.92,Northeast,1.0,New England Division,1.0,www.annamaria.edu/admission,A,Masters Colleges and Universities I,21,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,25027,2
4,164465,Amherst College,Amherst,MA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,87640,81787.0,81787.0,81787.0,6750.0,30000.0,13.50,135.0,1888.0,-4862.0,-7.2,-19448.0,-29172.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,20021.13,15741.11,29.66,23.32,80084.52,62964.44,120126.78,94446.66,20603.16,24883.08,Bachelor's degree,30,Bachelor's degree,5,-2,Suburb: Large,21,Four or more years,1,"1,000 - 4,999",2,Hampshire County,01002-5000,Massachusetts,25,42.37,-72.52,Northeast,1.0,New England Division,1.0,www.amherst.edu/admission/,A,Baccalaureate Colleges--Liberal Arts,31,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,25015,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21286,498359,The Salon Professional Academy,Collegeville,PA,"Private for-profit, less-than 2-year",9,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,1392.8,16713.6,1501.72,1233.6,1330.07,14803.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15960.84,18020.64,Non-degree granting,0,"At least 1, but less than 2 academic yrs",2,428,Suburb: Large,21,Less than 2 years (below associate),3,"Under 1,000",1,Montgomery County,19426-2025,Pennsylvania,42,40.19,-75.47,Northeast,1.0,Middle Atlantic Division,2.0,https://www.tspacollegeville.com/,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,42091,3
21287,498368,Studio 75 Hair Academy,Millington,TN,"Private for-profit, less-than 2-year",9,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2029.0,NaN,NaN,NaN,NaN,4500.0,NaN,9.00,90.0,NaN,NaN,NaN,NaN,NaN,1.08,1358.4,16300.8,1464.63,1126.8,1214.92,13521.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14579.04,17575.56,Non-degree granting,0,"At least 1, but less than 2 academic yrs",2,368,Suburb: Large,21,Less than 2 years (below associate),3,"Under 1,000",1,Shelby County,38053-2066,Tennessee,47,35.34,-89.90,South,3.0,East South Central Division,6.0,,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,47157,3
21288,498386,Boone Career and Technical Center,Foster,WV,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1902.0,NaN,NaN,NaN,NaN,4650.0,NaN,9.30,93.0,NaN,NaN,NaN,NaN,NaN,1.08,1242.0,14904.0,1339.12,1312.8,1415.46,15753.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16985.52,16069.44,Non-degree granting,0,"At least 2, but less than 4 academic yrs",4,170,Rural: Fringe,41,At least 2 but less than 4 years,2,"Under 1,000",1,Boone County,25081-8126,West Virginia,54,38.10,-81.81,South,3.0,South Atlantic Division,5.0,https://www.gobctc.com/admissions,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,54005,1
21291,498465,National Tractor Trailer School,Phoenix,AZ,"Private for-profit, less-than 2-year",9,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3224.0,NaN,NaN,NaN,NaN,6075.0,NaN,12.15,121.5,NaN,NaN,NaN,NaN,NaN,1.08,1220.4,14644.8,1315.84,1296.0,1397.35,15552.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16768.20,15790.08,Non-degree granting,0,Award of less than one academic year,1,429,City: Large,11,Less than 2 years (below associate),3,"Under 1,000",1,Maricopa County,85043-7410,Arizona,4,33.43,-112.22,West,4.0,Mountain Division,8.0,https://ntts.edu/cdl-training/admissions/,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,4013,3
21292,498474,Galen Health Institutes-Houston,Houston,TX,"Private for-profit, 4-year or above",3,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2356.0,.,19519.0,19519.0,19519.0,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,1115.6,13387.2,1202.84,1509.6,1627.65,18115.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19531.80,14434.08,Bachelor's degree,30,Bachelor's degree,5,288,City: Large,11,Four or more years,1,Not applicable,-2,Harris County,77041-8241,Texas,48,29.84,-95.56,South,3.0,West South Central Division,7.0,,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,48201,3

In [ ]:
coa_cols = [
    "Cost of Attendance: In State, On Campus",
    "Cost of Attendance: Out of State",
    "Cost of Attendance: In District",
    "Cost of Attendance: In State"
]

# Find rows where ALL FOUR are null
rows_all_null = afford2[afford2[coa_cols].isna().all(axis=1)]

rows_all_null

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,"Cost of Attendance: In State, On Campus",Cost of Attendance: Out of State,Cost of Attendance: In District,Cost of Attendance: In State,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
0,371928,Modern Technology School,Fountain Valley,CA,"Private for-profit, 2-year",6,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3040.0,NaN,NaN,NaN,NaN,7000.0,30000.0,14.00,140.0,22711.0,15711.0,22.4,31422.0,47133.0,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,37256.02,35413.60,53.22,50.59,74512.04,70827.20,149024.08,141654.40,19702.56,21545.04,Non-degree granting,0,"At least 2, but less than 4 academic yrs",4,348,City: Small,13,At least 2 but less than 4 years,2,"Under 1,000",1,Orange County,92708-9821,California,6,33.72,-117.92,West,4.0,Pacific Division,9.0,https://www.mtschool.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,6059,3
1,369668,Central Pennsylvania Institute of Science and ...,Pleasant Gap,PA,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.0,NaN,NaN,NaN,NaN,3625.0,30000.0,7.25,72.5,9184.0,5559.0,15.3,11118.0,16677.0,1.08,1392.8,16713.6,1501.72,1233.6,1330.07,14803.2,23579.60,21519.81,65.05,59.36,47159.20,43039.62,94318.40,86079.24,15960.84,18020.64,Associate's degree,40,Associate's degree,3,524,Rural: Fringe,41,At least 2 but less than 4 years,2,"Under 1,000",1,Centre County,16823,Pennsylvania,42,40.88,-77.74,Northeast,1.0,Middle Atlantic Division,2.0,,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,Special Focus Two-Year: Technical Professions,11,42027,1
7,369950,Hamrick School,Medina,OH,"Private for-profit, less-than 2-year",9,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1894.0,NaN,NaN,NaN,NaN,3625.0,30000.0,7.25,72.5,3759.0,134.0,0.4,268.0,402.0,1.08,1119.2,13430.4,1206.72,1216.8,1311.95,14601.6,14614.66,15877.45,40.32,43.80,29229.32,31754.90,58458.64,63509.80,15743.40,14480.64,Non-degree granting,0,Award of less than one academic year,1,184,Rural: Fringe,41,Less than 2 years (below associate),3,"Under 1,000",1,Medina County,44256,Ohio,39,41.14,-81.73,Midwest,2.0,East North Central Division,3.0,https://www.hamrickschool.edu/admissions-proce...,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,39103,3
8,367875,Brewster Technical College,Tampa,FL,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2537.0,NaN,NaN,NaN,NaN,4325.0,30000.0,8.65,86.5,9731.0,5406.0,12.5,10812.0,16218.0,1.08,1142.4,13708.8,1231.74,1186.8,1279.61,14241.6,20186.83,20761.29,46.67,48.00,40373.66,41522.58,80747.32,83045.16,15355.32,14780.88,Non-degree granting,0,"At least 2, but less than 4 academic yrs",4,-2,City: Large,11,At least 2 but less than 4 years,2,"1,000 - 4,999",2,Hillsborough County,33602,Florida,12,27.96,-82.46,South,3.0,South Atlantic Division,5.0,,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,12057,1
12,164535,Assabet Valley Regional Technical School,Marlborough,MA,"Public, less-than 2-year",7,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,NaN,NaN,NaN,NaN,6750.0,30000.0,13.50,135.0,36348.0,29598.0,43.8,59196.0,88794.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,54481.13,50201.11,80.71,74.37,108962.26,100402.22,217924.52,200804.44,20603.16,24883.08,Non-degree granting,0,"At least 1, but less than 2 academic yrs",2,148,Suburb: Large,21,Less than 2 years (below associate),3,"Under 1,000",1,Middlesex County,1752,Massachusetts,25,42.37,-71.57,Northeast,1.0,New England Division,1.0,www.assabet.org/,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,25017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21285,498289,Pontifex University,Atlanta,GA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2125.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,983.2,11798.4,1060.09,1309.2,1411.58,15710.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16938.96,12721.08,Doctor's degree - research/scholarship,12,Doctor's degree,9,122,City: Large,11,Four or more years,1,"Under 1,000",1,Fulton County,30327,Georgia,13,33.88,-84.41,South,3.0,South Atlantic Division,5.0,https://www.pontifex.university/page/show/226944#,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,13121,2
21286,498359,The Salon Professional Academy,Collegeville,PA,"Private for-profit, less-than 2-year",9,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,1392.8,16713.6,1501.72,1233.6,1330.07,14803.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15960.84,18020.64,Non-degree granting,0,"At least 1, but less than 2 academic yrs",2,428,Suburb: Large,21,Less than 2 years (below associate),3,"Under 1,000",1,Montgomery County,19426-2025,Pennsylvania,42,40.19,-75.47,Northeast,1.0,Middle Atlantic Division,2.0,https://www.tspacollegeville.com/,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,42091,3
21287,498368,Studio 75 Hair Academy,Millington,TN,"Private for-profit, less-than 2-year",9,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2029.0,NaN,NaN,NaN,NaN,4500.0,NaN,9.00,90.0,NaN,NaN,NaN,NaN,NaN,1.08,1358.4,16300.8,1464.63,1126.8,1214.92,13521.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14579.04,17575.56,Non-degree granting,0,"At least 1, but less than 2 academic yrs",2,368,Suburb: Large,21,Less than 2 years (below associate),3,"Under 1,000",1,Shelby County,38053-2066,Tennessee,47,35.34,-89.90,South,3.0,East South Central Division,6.0,,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,47157,3
21288,498386,Boone Career and Technical Center,Foster,WV,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1902.0,NaN,NaN,NaN,NaN,4650.0,NaN,9.30,93.0,NaN,NaN,NaN,NaN,NaN,1.08,1242.0,14904.0,1339.12,1312.8,1415.46,15753.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16985.52,16069.44,Non-degree granting,0,"At least 2, but less than 4 academic yrs",4,170,Rural: Fringe,41,At least 2 but less than 4 years,2,"Under 1,000",1,Boone County,25081-8126,West Virginia,54,38.10,-81.81,South,3.0,South Atlantic Division,5.0,https://www.gobctc.com/admissions,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,54005,1
21291,498465,National Tractor Trailer School,Phoenix,AZ,"Private for-profit, less-than 2-year",9,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3224.0,NaN,NaN,NaN,NaN,6075.0,NaN,12.15,121.5,NaN,NaN,NaN,NaN,NaN,1.08,1220.4,14644.8,1315.84,1296.0,1397.35,15552.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16768.20,15790.08,Non-degree granting,0,Award of less than one academic year,1,429,City: Large,11,Less than 2 years (below associate),3,"Under 1,000",1,Maricopa County,85043-7410,Arizona,4,33.43,-112.22,West,4.0,Mountain Division,8.0,https://ntts.edu/cdl-training/admissions/,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,4013,3

In [ ]:
rows_all_null["State Abbreviation"].value_counts()

State Abbreviation
CA    1010
TX     591
FL     463
PA     367
NY     326
OH     309
IL     238
TN     203
NJ     186
AZ     158
MI     148
MO     130
IN     119
LA     118
MA     116
OK     109
GA     106
CO     106
VA     105
UT     100
WA      97
NV      87
NC      82
SC      81
KY      80
PR      79
WI      76
MD      76
CT      75
IA      74
WV      70
OR      67
AR      55
KS      52
ID      49
MN      46
AL      43
MS      32
RI      31
NH      29
NM      29
NE      24
ME      23
ND      19
DE      19
SD      16
MT      16
DC      15
VT      15
WY       9
HI       9
AK       3
Name: count, dtype: int64

In [ ]:
len(rows_all_null["Unit ID"].unique())

2594

In [ ]:
rows_all_null["Net Price"].isna().sum()

np.int64(702)

In [ ]:
afford2["Net Price"].isna().sum()

np.int64(920)

In [ ]:
rows_all_null["Sector Name"].value_counts()

Sector Name
Private for-profit, less-than 2-year        3764
Private for-profit, 2-year                  1287
Public, less-than 2-year                     462
Private not-for-profit, 4-year or above      330
Public, 2-year                               219
Private for-profit, 4-year or above          189
Private not-for-profit, less-than 2-year     143
Private not-for-profit, 2-year                47
Public, 4-year or above                       45
Name: count, dtype: int64

In [ ]:
afford2["Sector Name"].value_counts()

Sector Name
Private not-for-profit, 4-year or above     5992
Public, 2-year                              3949
Private for-profit, less-than 2-year        3848
Public, 4-year or above                     3730
Private for-profit, 2-year                  1855
Private for-profit, 4-year or above          877
Public, less-than 2-year                     502
Private not-for-profit, less-than 2-year     151
Private not-for-profit, 2-year               128
Name: count, dtype: int64

In [ ]:
# afford2[coa_cols] = afford2[coa_cols].fillna("Not Reported")

In [ ]:
afford2["COA_Missing"] = afford2[coa_cols].isna().all(axis=1)

/tmp/ipython-input-2187073295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  afford2["COA_Missing"] = afford2[coa_cols].isna().all(axis=1)

In [ ]:
afford2.isna().sum().sort_values(ascending = False)[lambda x: x > 0]

Cost of Attendance: In State                                                    6486
Cost of Attendance: In District                                                 6486
Cost of Attendance: Out of State                                                6486
Cost of Attendance: In State, On Campus                                         6486
Weekly Hours to Close Gap: Home-Based Care                                      1304
Weekly Hours to Close Gap: Center-Based Care                                    1304
Student Parent Affordability Gap: Home-Based Care                               1304
Student Parent Affordability Gap: Center-Based Care                             1304
150% TTD Student Parent Affordability Gap: Home-Based Care                      1304
150% TTD Student Parent Affordability Gap: Center-Based Care                    1304
100% TTD Student Parent Affordability Gap: Home-Based Care                      1304
100% TTD Student Parent Affordability Gap: Center-Based Care                    1304
Affordability Gap (net price minus income earned working 10 hrs at min wage)     929
Weekly Hours to Close Gap                                                        929
100% TTD Affordability Gap                                                       929
150% TTD Affordability Gap                                                       929
Student Family Earnings Ceiling                                                  920
Net Price                                                                        920
Adjusted Monthly Center-Based Child Care Cost                                    399
Monthly Home-Based Child Care Cost                                               399
Monthly Center-Based Child Care Cost                                             399
Annual Center-Based Child Care Cost                                              399
Adjusted Monthly Home-Based Child Care Cost                                      399
Annual Home-Based Child Care Cost                                                399
Adjusted Annual Home-Based Child Care Cost                                       399
Adjusted Annual Center-Based Child Care Cost                                     399
State                                                                            399
Sub Region #                                                                     399
Region #                                                                         399
Sub Region                                                                       399
Region                                                                           399
State Minimum Wage                                                                 9
Income Earned from Working 10 Hours a Week at State's Minimum Wage                 9
Annual Income Estimate                                                             9
Average Work Study Award                                                           5
dtype: int64

In [ ]:
block_a_cols = [
    "Weekly Hours to Close Gap: Center-Based Care",
    "Student Parent Affordability Gap: Center-Based Care",
    "150% TTD Student Parent Affordability Gap: Home-Based Care",
    "150% TTD Student Parent Affordability Gap: Center-Based Care",
    "100% TTD Student Parent Affordability Gap: Home-Based Care",
    "100% TTD Student Parent Affordability Gap: Center-Based Care",
    "Weekly Hours to Close Gap: Home-Based Care",
    "Student Parent Affordability Gap: Home-Based Care",
    "Student Parent Affordability Gap: Center-Based Care",
    "Monthly Center-Based Child Care Cost",
    "Annual Center-Based Child Care Cost",
    "Adjusted Monthly Center-Based Child Care Cost",
    "Monthly Home-Based Child Care Cost",
    "Adjusted Monthly Home-Based Child Care Cost",
    "Annual Home-Based Child Care Cost",
    "Adjusted Annual Home-Based Child Care Cost",
    "Adjusted Annual Center-Based Child Care Cost",
]

In [ ]:
missing_a = afford2[afford2[block_a_cols].isna().any(axis = 1)]

In [ ]:
len(missing_a["Unit ID"].unique())

1040

In [ ]:
afford2.columns

Index(['Unit ID', 'Institution Name', 'City', 'State Abbreviation',
       'Sector Name', 'Sector', 'MSI Status', 'MSI Type', 'HBCU', 'PBI',
       'ANNHI', 'TRIBAL', 'AANAPII', 'HSI', 'NANTI',
       'Average Work Study Award', 'Cost of Attendance: In State, On Campus',
       'Cost of Attendance: Out of State', 'Cost of Attendance: In District',
       'Cost of Attendance: In State', 'Annual Income Estimate',
       'Student Family Earnings Ceiling', 'State Minimum Wage',
       'Income Earned from Working 10 Hours a Week at State's Minimum Wage',
       'Net Price',
       'Affordability Gap (net price minus income earned working 10 hrs at min wage)',
       'Weekly Hours to Close Gap', '100% TTD Affordability Gap',
       '150% TTD Affordability Gap', 'CPI Index',
       'Monthly Center-Based Child Care Cost',
       'Annual Center-Based Child Care Cost',
       'Adjusted Monthly Center-Based Child Care Cost',
       'Monthly Home-Based Child Care Cost',
       'Adjusted Monthly Home-Based Child Care Cost',
       'Annual Home-Based Child Care Cost',
       'Student Parent Affordability Gap: Center-Based Care',
       'Student Parent Affordability Gap: Home-Based Care',
       'Weekly Hours to Close Gap: Center-Based Care',
       'Weekly Hours to Close Gap: Home-Based Care',
       '100% TTD Student Parent Affordability Gap: Center-Based Care',
       '100% TTD Student Parent Affordability Gap: Home-Based Care',
       '150% TTD Student Parent Affordability Gap: Center-Based Care',
       '150% TTD Student Parent Affordability Gap: Home-Based Care',
       'Adjusted Annual Home-Based Child Care Cost',
       'Adjusted Annual Center-Based Child Care Cost',
       'Highest Degree Offered Name', 'Highest Degree Offered',
       'Highest Level Offered Name', 'Highest Level Offered',
       'Combined Statistical Area', 'Degree of Localization Name',
       'Degree of Localization', 'Institution Level Name', 'Institution Level',
       'Institution Size Category Name', 'Institution Size Category',
       'County Name', 'Zip Code', 'State', 'State Code (FIPS)', 'Latitude',
       'Longitude', 'Region', 'Region #', 'Sub Region', 'Sub Region #',
       'Admissions Website', 'Institution Status',
       '2000 Carnegie Classification Name', '2000 Carnegie Classification',
       '2015 Carnegie Classification Name', '2015 Carnegie Classification',
       '2018 Carnegie Classification Name', '2018 Carnegie Classification',
       '2021 Carnegie Classification Name', '2021 Carnegie Classification',
       'County Code', 'Control of Institution', 'COA_Missing'],
      dtype='object')

In [ ]:
afford2["Institution Status"].value_counts()

Institution Status
A     20773
N       141
R       118
Name: count, dtype: int64

In [ ]:
afford3 = afford2.drop(columns = coa_cols)

In [ ]:
afford3.isna().sum().sort_values(ascending = False)[lambda x: x > 0]

150% TTD Student Parent Affordability Gap: Home-Based Care                      1304
150% TTD Student Parent Affordability Gap: Center-Based Care                    1304
100% TTD Student Parent Affordability Gap: Home-Based Care                      1304
100% TTD Student Parent Affordability Gap: Center-Based Care                    1304
Weekly Hours to Close Gap: Home-Based Care                                      1304
Weekly Hours to Close Gap: Center-Based Care                                    1304
Student Parent Affordability Gap: Home-Based Care                               1304
Student Parent Affordability Gap: Center-Based Care                             1304
Affordability Gap (net price minus income earned working 10 hrs at min wage)     929
Weekly Hours to Close Gap                                                        929
100% TTD Affordability Gap                                                       929
150% TTD Affordability Gap                                                       929
Student Family Earnings Ceiling                                                  920
Net Price                                                                        920
Adjusted Monthly Home-Based Child Care Cost                                      399
Annual Home-Based Child Care Cost                                                399
Adjusted Monthly Center-Based Child Care Cost                                    399
Monthly Home-Based Child Care Cost                                               399
State                                                                            399
Region                                                                           399
Region #                                                                         399
Sub Region                                                                       399
Sub Region #                                                                     399
Annual Center-Based Child Care Cost                                              399
Adjusted Annual Home-Based Child Care Cost                                       399
Adjusted Annual Center-Based Child Care Cost                                     399
Monthly Center-Based Child Care Cost                                             399
Annual Income Estimate                                                             9
Income Earned from Working 10 Hours a Week at State's Minimum Wage                 9
State Minimum Wage                                                                 9
Average Work Study Award                                                           5
dtype: int64

In [ ]:
afford3["Institution Status"].value_counts()

Institution Status
A     20773
N       141
R       118
Name: count, dtype: int64

In [ ]:
afford3["Institution Status"].unique()

array(['A ', 'R ', 'N '], dtype=object)

In [ ]:
afford4 = afford3[afford3["Institution Status"] == "A "]
afford4.head()

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution,COA_Missing
0,371928,Modern Technology School,Fountain Valley,CA,"Private for-profit, 2-year",6,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3040.0,7000.0,30000.0,14.00,140.0,22711.0,15711.0,22.4,31422.0,47133.0,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,37256.02,35413.60,53.22,50.59,74512.04,70827.20,149024.08,141654.40,19702.56,21545.04,Non-degree granting,0,"At least 2, but less than 4 academic yrs",4,348,City: Small,13,At least 2 but less than 4 years,2,"Under 1,000",1,Orange County,92708-9821,California,6,33.72,-117.92,West,4.0,Pacific Division,9.0,https://www.mtschool.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,6059,3,True
1,369668,Central Pennsylvania Institute of Science and ...,Pleasant Gap,PA,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.0,3625.0,30000.0,7.25,72.5,9184.0,5559.0,15.3,11118.0,16677.0,1.08,1392.8,16713.6,1501.72,1233.6,1330.07,14803.2,23579.60,21519.81,65.05,59.36,47159.20,43039.62,94318.40,86079.24,15960.84,18020.64,Associate's degree,40,Associate's degree,3,524,Rural: Fringe,41,At least 2 but less than 4 years,2,"Under 1,000",1,Centre County,16823,Pennsylvania,42,40.88,-77.74,Northeast,1.0,Middle Atlantic Division,2.0,,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,Special Focus Two-Year: Technical Professions,11,42027,1,True
2,369516,Bryan University,Springfield,MO,"Private for-profit, 4-year or above",3,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2165.0,5150.0,30000.0,10.30,103.0,21316.0,16166.0,31.4,64664.0,96996.0,1.08,1110.0,13320.0,1196.80,1258.8,1357.24,15105.6,30527.62,32452.86,59.28,63.02,122110.48,129811.44,183165.72,194717.16,16286.88,14361.60,Master's degree,20,Master's degree,7,-2,City: Midsize,12,Four or more years,1,"Under 1,000",1,Greene County,65804,Missouri,29,37.14,-93.25,Midwest,2.0,West North Central Division,4.0,www.bryanu.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,29077,3,False
3,164492,Anna Maria College,Paxton,MA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,6750.0,30000.0,13.50,135.0,24807.0,18057.0,26.8,72228.0,108342.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,42940.13,38660.11,63.62,57.27,171760.52,154640.44,257640.78,231960.66,20603.16,24883.08,Master's degree,20,Post-master's certificate,8,148,Rural: Fringe,41,Four or more years,1,"1,000 - 4,999",2,Worcester County,01612-1198,Massachusetts,25,42.33,-71.92,Northeast,1.0,New England Division,1.0,www.annamaria.edu/admission,A,Masters Colleges and Universities I,21,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,25027,2,False
4,164465,Amherst College,Amherst,MA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,6750.0,30000.0,13.50,135.0,1888.0,-4862.0,-7.2,-19448.0,-29172.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,20021.13,15741.11,29.66,23.32,80084.52,62964.44,120126.78,94446.66,20603.16,24883.08,Bachelor's degree,30,Bachelor's degree,5,-2,Suburb: Large,21,Four or more years,1,"1,000 - 4,999",2,Hampshire County,01002-5000,Massachusetts,25,42.37,-72.52,Northeast,1.0,New England Division,1.0,www.amherst.edu/admission/,A,Baccalaureate Colleges--Liberal Arts,31,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,25015,2,False

In [ ]:
afford4.isna().sum().sort_values(ascending = False)[lambda x: x > 0]

150% TTD Student Parent Affordability Gap: Home-Based Care                      1280
150% TTD Student Parent Affordability Gap: Center-Based Care                    1280
100% TTD Student Parent Affordability Gap: Home-Based Care                      1280
100% TTD Student Parent Affordability Gap: Center-Based Care                    1280
Weekly Hours to Close Gap: Home-Based Care                                      1280
Weekly Hours to Close Gap: Center-Based Care                                    1280
Student Parent Affordability Gap: Home-Based Care                               1280
Student Parent Affordability Gap: Center-Based Care                             1280
Affordability Gap (net price minus income earned working 10 hrs at min wage)     905
Weekly Hours to Close Gap                                                        905
100% TTD Affordability Gap                                                       905
150% TTD Affordability Gap                                                       905
Student Family Earnings Ceiling                                                  896
Net Price                                                                        896
Adjusted Monthly Home-Based Child Care Cost                                      398
Annual Home-Based Child Care Cost                                                398
Adjusted Monthly Center-Based Child Care Cost                                    398
Monthly Home-Based Child Care Cost                                               398
State                                                                            398
Region                                                                           398
Region #                                                                         398
Sub Region                                                                       398
Sub Region #                                                                     398
Annual Center-Based Child Care Cost                                              398
Adjusted Annual Home-Based Child Care Cost                                       398
Adjusted Annual Center-Based Child Care Cost                                     398
Monthly Center-Based Child Care Cost                                             398
Annual Income Estimate                                                             9
Income Earned from Working 10 Hours a Week at State's Minimum Wage                 9
State Minimum Wage                                                                 9
Average Work Study Award                                                           5
dtype: int64

In [ ]:
childcare_cols = [
    "150% TTD Student Parent Affordability Gap: Home-Based Care",
    "150% TTD Student Parent Affordability Gap: Center-Based Care",
    "100% TTD Student Parent Affordability Gap: Home-Based Care",
    "100% TTD Student Parent Affordability Gap: Center-Based Care",
    "Weekly Hours to Close Gap: Home-Based Care",
    "Weekly Hours to Close Gap: Center-Based Care",
    "Student Parent Affordability Gap: Home-Based Care",
    "Student Parent Affordability Gap: Center-Based Care"
]

# mask of rows where every childcare field is null
childcare_missing_mask = afford4[childcare_cols].isna().all(axis=1)

# create a clean student-parent dataset with only rows that have childcare data
afford5 = afford4[~childcare_missing_mask]

In [ ]:
afford5

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution,COA_Missing
0,371928,Modern Technology School,Fountain Valley,CA,"Private for-profit, 2-year",6,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3040.0,7000.0,30000.0,14.00,140.0,22711.0,15711.0,22.4,31422.0,47133.0,1.08,1665.2,19982.4,1795.42,1522.8,1641.88,18273.6,37256.02,35413.60,53.22,50.59,74512.04,70827.20,149024.08,141654.40,19702.56,21545.04,Non-degree granting,0,"At least 2, but less than 4 academic yrs",4,348,City: Small,13,At least 2 but less than 4 years,2,"Under 1,000",1,Orange County,92708-9821,California,6,33.72,-117.92,West,4.0,Pacific Division,9.0,https://www.mtschool.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,6059,3,True
1,369668,Central Pennsylvania Institute of Science and ...,Pleasant Gap,PA,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.0,3625.0,30000.0,7.25,72.5,9184.0,5559.0,15.3,11118.0,16677.0,1.08,1392.8,16713.6,1501.72,1233.6,1330.07,14803.2,23579.60,21519.81,65.05,59.36,47159.20,43039.62,94318.40,86079.24,15960.84,18020.64,Associate's degree,40,Associate's degree,3,524,Rural: Fringe,41,At least 2 but less than 4 years,2,"Under 1,000",1,Centre County,16823,Pennsylvania,42,40.88,-77.74,Northeast,1.0,Middle Atlantic Division,2.0,,A,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,Special Focus Two-Year: Technical Professions,11,42027,1,True
2,369516,Bryan University,Springfield,MO,"Private for-profit, 4-year or above",3,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2165.0,5150.0,30000.0,10.30,103.0,21316.0,16166.0,31.4,64664.0,96996.0,1.08,1110.0,13320.0,1196.80,1258.8,1357.24,15105.6,30527.62,32452.86,59.28,63.02,122110.48,129811.44,183165.72,194717.16,16286.88,14361.60,Master's degree,20,Master's degree,7,-2,City: Midsize,12,Four or more years,1,"Under 1,000",1,Greene County,65804,Missouri,29,37.14,-93.25,Midwest,2.0,West North Central Division,4.0,www.bryanu.edu/,A,"Not applicable, not in Carnegie universe (not ...",-2,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,29077,3,False
3,164492,Anna Maria College,Paxton,MA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,6750.0,30000.0,13.50,135.0,24807.0,18057.0,26.8,72228.0,108342.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,42940.13,38660.11,63.62,57.27,171760.52,154640.44,257640.78,231960.66,20603.16,24883.08,Master's degree,20,Post-master's certificate,8,148,Rural: Fringe,41,Four or more years,1,"1,000 - 4,999",2,Worcester County,01612-1198,Massachusetts,25,42.33,-71.92,Northeast,1.0,New England Division,1.0,www.annamaria.edu/admission,A,Masters Colleges and Universities I,21,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,25027,2,False
4,164465,Amherst College,Amherst,MA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015.0,6750.0,30000.0,13.50,135.0,1888.0,-4862.0,-7.2,-19448.0,-29172.0,1.08,1923.2,23078.4,2073.59,1592.4,1716.93,19108.8,20021.13,15741.11,29.66,23.32,80084.52,62964.44,120126.78,94446.66,20603.16,24883.08,Bachelor's degree,30,Bachelor's degree,5,-2,Suburb: Large,21,Four or more years,1,"1,000 - 4,999",2,Hampshire County,01002-5000,Massachusetts,25,42.37,-72.52,Northeast,1.0,New England Division,1.0,www.amherst.edu/admission/,A,Baccalaureate Colleges--Liberal Arts,31,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,25015,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20105,101161,Coastal Alabama Community College,Bay Minette,AL,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1936.0,3625.0,150000.0,7.25,72.5,12983.0,9358.0,25.8,18716.0,28074.0,1.08,1023.2,12278.4,1103.21,986.4,1063.54,11836.8,22596.57,22120.44,62.34,61.02,45193.14,44240.88,90386.28,88481.76,12762.48,13238.52,Associate's degree,40,Associate's degree,3,380,Town: Distant,32,At least 2 but less than 4 years,2,"5,000 - 9,999",3,Baldwin County,36507-2698,Alabama,1,30.85,-87.78,South,3.0,East South Central Division,6.0,www.coastalalabama.edu/apply/,A,Associates Colleges,40,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: Mixed Transfer/Career & ...,4,1003,1,False
20107,101143,Enterprise State Community College,Enterprise,AL,"Public, 2-year",4,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1936.0,3625.0,150000.0,7.25,72.5,14798.0,11173.0,30.8,22346.0,33519.0,1.08,1023.2,12278.4,1103.21,986.4,1063.54,11836.8,24411.57,23935.44,67.34,66.03,48823.14,47870.88,97646.28,95741.76,12762.48,13238.52,Associate's degree,40,Associate's degree,3,-2,Town: Distant,32,At least 2 but less than 4 years,2,"1,000 - 4,999",2,Coffee County,36330-1300,Alabama,1,31.30,-85.84,South,3.0,East South Central Division,6.0,https://www.escc.edu/admissions/,A,Associates Colleges,40,Associate's Colleges: High Career & Technical-...,8,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: High Transfer-Mixed Trad...,2,1031,1,False
20109,100937,Birmingham-Southern College,Birmingham,AL,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1936.0,3625.0,150000.0,7.25,72.5,25419.0,21794.0,60.1,87176.0,130764.0,1.08,1023.2,12278.4,1103.21,986.4,1063.54,11836.8,35032.57,34556.44,96.64,95.33,140130.28,138225.76,210195.42,207338.64,12762.48,13238.52,Bachelor's degree,30,Bachelor's degree,5,142,City: Midsize,12,Four or more years,1,"Under 1,000",1,Jefferson County,35254,Alabama,1,33.51,-86.85,South,3.0,East South Central Division,6.0,www.bsc.edu/admission/index.html,A,Baccalaureate Colleges--Liberal Arts,31,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,1073,2,False
20110,100858,Auburn University,Auburn,AL,"Public, 4-year or above",1,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1936.0,3625.0,150000.0,7.25,72.5,29310.0,25685.0,70.9,102740.0,154110.0,1.08,1023.2,12278.4,1103.21,986.4,1063.54,11836.8,38923.57,38447.44,107.38,106.06,155694.28,153789.76,233541.42,230684.64,12762.48,13238.52,Doctor's degree - research/scholarship and pro...,11,Doctor's degree,9,194,City: Small,13,Four or more years,1,"20,000 and above",5,Lee County,36849,Alabama,1,32.60,-85.49,South,3.0,East South Central Division,6.0,www.auburn.edu/admissions/,A,Doctoral/Research Universities--Extensive,15,Doctoral Universities: Higher Research Activity,16,Doctoral Universities: Very High Research Acti...,15,Doctoral Universities: Very High Research Acti...,15,1081,1,False
20111,101028,Chattahoochee Valley Community College,Phenix City,AL,"Public, 2-year",4,0.0,PBI,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1936.0,3625.0,150000.0,7.25,72.5,11047.0,7422.0,20.5,14844.0,22266.0,1.08,1023.2,12278.4,1103.21,986.4,1063.54,11836.8,20660.57,20184.44,56.99,55.68,41321.14,40368.88,82642.28,80737.76,12762.48,13238.52,Associate's degree,40,Associate's degree,3,194,Rural: Fringe,41,At least 2 but less than 4 years,2,"1,000 - 4,999",2,Russell County,36869,Alabama,1,32.42,-85.03,South,3.0,East South Central Division,6.0,https://www.cv.edu/apply/,A,Associates Colleges,40,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: High Transfer-High Tradi...,1,Associate's Colleges: Mixed Transfer/Career & ...,4,1113,1,False

In [ ]:
afford5.isna().sum().max()

0

In [ ]:
afford5["Institution Status"].value_counts()

Institution Status
A     19493
Name: count, dtype: int64

In [ ]:
afford5["Institution Size Category Name"].value_counts()

Institution Size Category Name
Under 1,000         8377
1,000 - 4,999       6490
5,000 - 9,999       2255
10,000 - 19,999     1437
20,000 and above     934
Name: count, dtype: int64

In [ ]:
afford5["Institution Level Name"].value_counts()

Institution Level Name
Four or more years                     9651
At least 2 but less than 4 years       5670
Less than 2 years (below associate)    4172
Name: count, dtype: int64

In [ ]:
afford7 = afford2[afford2["Institution Level Name"] == "Four or more years"]

In [ ]:
afford7.isna().sum().sort_values(ascending = False)[lambda x: x > 0]

Weekly Hours to Close Gap: Home-Based Care                                      797
Weekly Hours to Close Gap: Center-Based Care                                    797
Student Parent Affordability Gap: Home-Based Care                               797
Student Parent Affordability Gap: Center-Based Care                             797
150% TTD Student Parent Affordability Gap: Home-Based Care                      797
150% TTD Student Parent Affordability Gap: Center-Based Care                    797
100% TTD Student Parent Affordability Gap: Home-Based Care                      797
100% TTD Student Parent Affordability Gap: Center-Based Care                    797
Cost of Attendance: In State                                                    564
Cost of Attendance: In District                                                 564
Cost of Attendance: Out of State                                                564
Cost of Attendance: In State, On Campus                                         564
Affordability Gap (net price minus income earned working 10 hrs at min wage)    554
Weekly Hours to Close Gap                                                       554
100% TTD Affordability Gap                                                      554
150% TTD Affordability Gap                                                      554
Student Family Earnings Ceiling                                                 549
Net Price                                                                       549
Adjusted Monthly Center-Based Child Care Cost                                   257
Monthly Home-Based Child Care Cost                                              257
Monthly Center-Based Child Care Cost                                            257
Annual Center-Based Child Care Cost                                             257
Adjusted Monthly Home-Based Child Care Cost                                     257
Annual Home-Based Child Care Cost                                               257
Adjusted Annual Home-Based Child Care Cost                                      257
Adjusted Annual Center-Based Child Care Cost                                    257
State                                                                           257
Sub Region #                                                                    257
Region #                                                                        257
Sub Region                                                                      257
Region                                                                          257
Average Work Study Award                                                          5
Income Earned from Working 10 Hours a Week at State's Minimum Wage                5
Annual Income Estimate                                                            5
State Minimum Wage                                                                5
dtype: int64

In [ ]:
len(afford7["Unit ID"].unique())

2761

In [ ]:
afford7["Unit ID"].unique()

array([369516, 164492, 164465, ..., 498243, 498289, 498474])

In [ ]:
afford7[afford7["Unit ID"] == 498289]

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,"Cost of Attendance: In State, On Campus",Cost of Attendance: Out of State,Cost of Attendance: In District,Cost of Attendance: In State,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution,COA_Missing
21285,498289,Pontifex University,Atlanta,GA,"Private not-for-profit, 4-year or above",2,1.0,Not MSI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2125.0,NaN,NaN,NaN,NaN,3625.0,NaN,7.25,72.5,NaN,NaN,NaN,NaN,NaN,1.08,983.2,11798.4,1060.09,1309.2,1411.58,15710.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16938.96,12721.08,Doctor's degree - research/scholarship,12,Doctor's degree,9,122,City: Large,11,Four or more years,1,"Under 1,000",1,Fulton County,30327,Georgia,13,33.88,-84.41,South,3.0,South Atlantic Division,5.0,https://www.pontifex.university/page/show/226944#,N,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,13121,2,True

In [ ]:
afford7["Institution Status"].value_counts()

Institution Status
A     10433
R       114
N        52
Name: count, dtype: int64

In [ ]:
afford7 = afford7[afford7["Institution Status"] == "A "]

In [ ]:
afford7.isna().sum().sort_values(ascending = False)[lambda x: x > 0]

Weekly Hours to Close Gap: Home-Based Care                                      782
Weekly Hours to Close Gap: Center-Based Care                                    782
Student Parent Affordability Gap: Home-Based Care                               782
Student Parent Affordability Gap: Center-Based Care                             782
150% TTD Student Parent Affordability Gap: Home-Based Care                      782
150% TTD Student Parent Affordability Gap: Center-Based Care                    782
100% TTD Student Parent Affordability Gap: Home-Based Care                      782
100% TTD Student Parent Affordability Gap: Center-Based Care                    782
Cost of Attendance: In State                                                    552
Cost of Attendance: In District                                                 552
Cost of Attendance: Out of State                                                552
Cost of Attendance: In State, On Campus                                         552
Affordability Gap (net price minus income earned working 10 hrs at min wage)    539
Weekly Hours to Close Gap                                                       539
100% TTD Affordability Gap                                                      539
150% TTD Affordability Gap                                                      539
Student Family Earnings Ceiling                                                 534
Net Price                                                                       534
Adjusted Monthly Center-Based Child Care Cost                                   257
Monthly Home-Based Child Care Cost                                              257
Monthly Center-Based Child Care Cost                                            257
Annual Center-Based Child Care Cost                                             257
Adjusted Monthly Home-Based Child Care Cost                                     257
Annual Home-Based Child Care Cost                                               257
Adjusted Annual Home-Based Child Care Cost                                      257
Adjusted Annual Center-Based Child Care Cost                                    257
State                                                                           257
Sub Region #                                                                    257
Region #                                                                        257
Sub Region                                                                      257
Region                                                                          257
Average Work Study Award                                                          5
Income Earned from Working 10 Hours a Week at State's Minimum Wage                5
Annual Income Estimate                                                            5
State Minimum Wage                                                                5
dtype: int64

In [ ]:
childcare_cols = [
    "150% TTD Student Parent Affordability Gap: Home-Based Care",
    "150% TTD Student Parent Affordability Gap: Center-Based Care",
    "100% TTD Student Parent Affordability Gap: Home-Based Care",
    "100% TTD Student Parent Affordability Gap: Center-Based Care",
    "Weekly Hours to Close Gap: Home-Based Care",
    "Weekly Hours to Close Gap: Center-Based Care",
    "Student Parent Affordability Gap: Home-Based Care",
    "Student Parent Affordability Gap: Center-Based Care"
]

# mask of rows where every childcare field is null
childcare_missing_mask = afford7[childcare_cols].isna().all(axis=1)

# create a clean student-parent dataset with only rows that have childcare data
afford8 = afford7[~childcare_missing_mask]

In [ ]:
afford8.isna().sum().sort_values(ascending= False)

Cost of Attendance: In State               128
Cost of Attendance: In District            128
Cost of Attendance: Out of State           128
Cost of Attendance: In State, On Campus    128
Unit ID                                      0
                                          ...
2021 Carnegie Classification Name            0
2021 Carnegie Classification                 0
County Code                                  0
Control of Institution                       0
COA_Missing                                  0
Length: 80, dtype: int64

In [ ]:
afford9 = afford8.dropna(subset = coa_cols
)

In [ ]:
afford9.columns

Index(['Unit ID', 'Institution Name', 'City', 'State Abbreviation',
       'Sector Name', 'Sector', 'MSI Status', 'MSI Type', 'HBCU', 'PBI',
       'ANNHI', 'TRIBAL', 'AANAPII', 'HSI', 'NANTI',
       'Average Work Study Award', 'Cost of Attendance: In State, On Campus',
       'Cost of Attendance: Out of State', 'Cost of Attendance: In District',
       'Cost of Attendance: In State', 'Annual Income Estimate',
       'Student Family Earnings Ceiling', 'State Minimum Wage',
       'Income Earned from Working 10 Hours a Week at State's Minimum Wage',
       'Net Price',
       'Affordability Gap (net price minus income earned working 10 hrs at min wage)',
       'Weekly Hours to Close Gap', '100% TTD Affordability Gap',
       '150% TTD Affordability Gap', 'CPI Index',
       'Monthly Center-Based Child Care Cost',
       'Annual Center-Based Child Care Cost',
       'Adjusted Monthly Center-Based Child Care Cost',
       'Monthly Home-Based Child Care Cost',
       'Adjusted Monthly Home-Based Child Care Cost',
       'Annual Home-Based Child Care Cost',
       'Student Parent Affordability Gap: Center-Based Care',
       'Student Parent Affordability Gap: Home-Based Care',
       'Weekly Hours to Close Gap: Center-Based Care',
       'Weekly Hours to Close Gap: Home-Based Care',
       '100% TTD Student Parent Affordability Gap: Center-Based Care',
       '100% TTD Student Parent Affordability Gap: Home-Based Care',
       '150% TTD Student Parent Affordability Gap: Center-Based Care',
       '150% TTD Student Parent Affordability Gap: Home-Based Care',
       'Adjusted Annual Home-Based Child Care Cost',
       'Adjusted Annual Center-Based Child Care Cost',
       'Highest Degree Offered Name', 'Highest Degree Offered',
       'Highest Level Offered Name', 'Highest Level Offered',
       'Combined Statistical Area', 'Degree of Localization Name',
       'Degree of Localization', 'Institution Level Name', 'Institution Level',
       'Institution Size Category Name', 'Institution Size Category',
       'County Name', 'Zip Code', 'State', 'State Code (FIPS)', 'Latitude',
       'Longitude', 'Region', 'Region #', 'Sub Region', 'Sub Region #',
       'Admissions Website', 'Institution Status',
       '2000 Carnegie Classification Name', '2000 Carnegie Classification',
       '2015 Carnegie Classification Name', '2015 Carnegie Classification',
       '2018 Carnegie Classification Name', '2018 Carnegie Classification',
       '2021 Carnegie Classification Name', '2021 Carnegie Classification',
       'County Code', 'Control of Institution', 'COA_Missing'],
      dtype='object')

In [ ]:
useless_cols = [
    'Institution Status',
    '2000 Carnegie Classification Name',
    '2000 Carnegie Classification',
    '2015 Carnegie Classification Name',
    '2015 Carnegie Classification',
    '2018 Carnegie Classification Name',
    '2018 Carnegie Classification',
    '2021 Carnegie Classification Name',
    '2021 Carnegie Classification',
    'Combined Statistical Area',
    'Degree of Localization Name',
    'Degree of Localization',
    'Institution Level Name',
    'Institution Level',
    'Region #',
    'Sub Region #',
    'State Code (FIPS)'
]

In [ ]:
affordFinal = afford9.drop(columns=useless_cols, errors='ignore')

In [ ]:
affordFinal = affordFinal.drop(columns = ["COA_Missing"])

In [ ]:
affordFinal.to_csv("affordFinal.csv")